*
    box-sizing: border-box
    margin: 0
    padding: 0
	
*
	font-family: 'Poppins', sans-serif

.sidepanel
	position: fixed
	top: 210px	
	left: -20px	
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: center
	height: 250px
	z-index: 3
	&__divider
		width: 2px
		height: 70px
		background-color: #000000
	&__text
		height: 24px
		width: 150px
		span
			transform: rotate(-90deg) translate(-30%,-5%)
			display: block
			width: 150px

.promo
	min-height: 100vh
	position: relative
	background: url('../img/main_bg.jpg') center center no-repeat
	padding-top: 205px
	z-index: 2
	&__title
		width: 535px
		margin-top: 10px
	&__subtitle
		padding-left: 10px
		&::before
			content: ''
			width: 36px
			height: 36px
			border-radius: 100%
			background: #FFA501
			position: absolute
			z-index: -1
			top: 199px	
			left: 195px
	&__btns
		margin-top: 25px
		display: flex
		justify-content: space-between
		width: 250px
		align-items: center
	&__link
		text-decoration-line: none
		color: #000000
		font-weight: 700
		font-size: 14px
.hamburger
	position: absolute
	top: 20px
	right: 30px
	height: 21px
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: flex-end
	cursor: pointer
	span
		display: block
		width: 30px
		height: 3px
		background: #151812
	span.long
		width: 36px
	span
		width: 30px

.btn
	height: 45px
	background: #FFA501
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)
	padding: 12px 25px 12px 25px

.container 
	width: 1140px
	margin: 0 auto

.title
	font-weight: 700
	font-size: 36px
	line-height: 60px
	&_fz14
		font-size: 14px
		line-height: 21px
	&_fz16
		font-size: 16px
		line-height: 24px
	&_fz48
		font-size: 48px

.menu
	position: fixed
	top: 0
	left: -100%
	width: 100%
	height: 100vh
	z-index: 10
	visibility: hidden
	opacity: 0
	transition: all 0.6s
	&.active
		left: 0
		visibility: visible
		opacity: 1

	&__block
		position: relative
		// left: -100%
		width: 345px
		height: 100%
		background: #FFA501
		padding-top: 140px
		padding-left: 40px	
		transition: all 0.6s
		z-index: 10
	&__close
		position: absolute
		top: 25px
		right: 25px
		cursor: pointer
	&__list
		list-style-type: none
		padding-left: 35px
	&__link
		position: relative
		font-weight: 700
		font-size: 24px
		line-height: 36px
		margin-bottom: 15px
		&::before
			content: ''
			position: absolute
			left: -35px
			top: 10px
			width: 15px
			height: 15px
			border: 1px solid #000000
			border-radius: 100%
			transition: all 0.6s
		&:hover
			&::before
				background-color: #fff
		a
			text-decoration-line: none
			color: #FFFFFF
	&__social
		position: absolute
		bottom: 50px
		left: 50%
		transform: translateX(-50%)
		width: 90px
		display: flex
		justify-content: space-between
		align-items: center
	&__overlay
		position: fixed
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: #ffff
		opacity: 0.75